   <!-- Top Bar -->
  <section id="top-bar" class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <i class="fas fa-phone"></i> +90 543 207 15 42
        </div>
        <div class="col-md-4">
          <i class="fas fa-envelope-open"></i> erdal_009@hotmail.com
        </div>
        <div class="col-md-4">
          <div class="social text-right">
            <a href="#">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/didim_kulacgayrimenkul/">
              <i class="fab fa-instagram"></i> didim_kulacgayrimenkul
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>